/* questions background colors */
.bg-color-1 {
    background-color: #efefef;
}
.bg-color-2 {
    background-color: #dddddd;
}
.missing {
    background-color: #ff8080;
}

/* header */
header {
    width: 100%;
    height: 120px;
    background-color: black;
}
.banner {
    height: 100%;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
}
.banner-text {
    color: white;
    font-size: 28px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", sans-serif;
    padding: 17px 0 0 80px;
}
.main-heading {
    font-size: 20px;
    padding-bottom: 15px;
}

/* Misc */
.form-control:last-child {
    margin-bottom: 18px;
}
.btn-submit {
    margin-bottom: 20px;
}
legend {
    font-size: 16px;
}
.text-enter label {
    font-weight: 400;
    padding-top: 15px;
}

/* for accessibility visibility */
#undergrad:focus, #grad:focus, #faculty:focus, #staff:focus, #post-doc:focus, #other-user:focus, #non-user:focus,
#arts:focus, #leeds:focus, #education:focus, #engineering:focus, #media:focus, #law:focus, #music:focus, #cont-ed:focus, #research:focus, #other-affiliation:focus, #non-affiliation:focus,
#library:focus, #campus:focus, #off-campus:focus, #sponsored:focus, #non-sponsored:focus, #other-activities:focus {
    outline-style: dashed;
    outline-color: red;
    outline-offset: 2px;
    outline-width: 3px;
}
.btn:focus, .form-control:focus {
    border: 3px solid red;
}

/*  Accessible accordion */
.accordion__panel[aria-hidden=true] {
  display: none;
}
.accordion {
    display: inline;
}
.accordion-header {
    display: none;
}